#! /usr/bin/make -f

# Debian packaging for MinGW cross-compiled C-Pluff
# Copyright 2007 Johannes Lehtinen
# This Makefile is free software; Johannes Lehtinen gives unlimited
# permission to copy, distribute and modify it.

HOST = i586-mingw32msvc

build: debian-build-stamp
debian-build-stamp: debian-configure-stamp
	dh_testdir
	cd debian/build && $(MAKE)
	cd debian/build/libcpluff && $(HOST)-dlltool -z libcpluff.def `find . -name '*.o' -print`
	cd debian/build/examples/cpfile/plugins && \
	for p in core special extension; do \
		$(HOST)-dlltool -z $$p/lib$$p.def `find $$p -name '*.o' -print`; \
	done
	touch $@

configure: debian-configure-stamp
debian-configure-stamp:
	dh_testdir
	rm -rf debian/build
	mkdir debian/build
	cd debian/build && ../../configure --host=$(HOST) --prefix=/usr/$(HOST) --disable-static --without-readline
	touch $@

install: debian-install-stamp
debian-install-stamp: debian-build-stamp
	dh_testdir
	dh_testroot
	rm -rf debian/tmp
	mkdir debian/tmp
	cd debian/build && $(MAKE) DESTDIR=$(CURDIR)/debian/tmp examples-install
	rm debian/tmp/usr/$(HOST)/bin/cpfile
	cp -a examples/cpfile/cpfile.bat debian/tmp/usr/$(HOST)/bin
	mv debian/tmp/usr/$(HOST)/lib/cpfile debian/tmp/usr/$(HOST)/bin
	cp debian/build/libcpluff/libcpluff.def debian/tmp/usr/$(HOST)/lib
	for p in core special extension; do \
		cp debian/build/examples/cpfile/plugins/$$p/lib$$p.def debian/tmp/usr/$(HOST)/bin/cpfile/plugins/$$p; \
	done
	touch $@

clean:
	dh_testdir
	dh_clean
	rm -f debian-install-stamp
	rm -rf debian/tmp
	rm -f debian-build-stamp debian-configure-stamp
	rm -rf debian/build

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs -i ChangeLog.txt
	dh_installdocs -i
	dh_install -i --sourcedir=debian/tmp --fail-missing
	dh_installdeb -i
	dh_compress -i
	dh_fixperms -i
	dh_gencontrol -i
	dh_builddeb -i

binary-arch:

binary: binary-indep binary-arch

.PHONY: build configure install clean binary binary-arch binary-indep
