#! /usr/bin/make -f

# Windows packaging for C-Pluff
# Copyright 2007 Johannes Lehtinen
# This Makefile is free software; Johannes Lehtinen gives unlimited
# permission to copy, distribute and modify it.

# This rules file is intended to be used on Linux to cross-compile
# and package native Windows binaries.

# This is the host system
HOST = i586-mingw32msvc

# Point these to host system header files and libraries
HOST_INCLUDE = /usr/local/$(HOST)/include
HOST_LIB = /usr/local/$(HOST)/lib

VERSION := $(shell grep -E '^C-Pluff \(.*\)' ChangeLog.txt | head -1 | sed -e 's/^C-Pluff (\(.*\)).*$$/\1/')
ZIPNAME = cpluff-$(VERSION)-i586-mingw32msvc

win_testdir = @test -f windows/rules || { \
	echo 'Not in top level source directory.'; \
	exit 1; \
}

win_testver = @test -n '$(VERSION)' || { \
	echo 'C-Pluff version not detected. Must specify VERSION.'; \
	exit 1; \
}

build: windows-build-stamp
windows-build-stamp: windows-configure-stamp windows-timestamps-stamp
	$(win_testdir)
	cd windows/build && $(MAKE)
	touch $@

configure: windows-configure-stamp
windows-configure-stamp: windows-timestamps-stamp
	$(win_testdir)
	$(win_testver)
	rm -rf windows/build
	mkdir windows/build
	cd windows/build && \
		CPPFLAGS='-I$(HOST_INCLUDE)' LDFLAGS='-L$(HOST_LIB)' \
			../../configure --host=i586-mingw32msvc --prefix=/$(ZIPNAME)
	touch $@

timestamps: windows-timestamps-stamp
windows-timestamps-stamp:
	$(win_testdir)
	touch aclocal.m4
	touch configure
	find . -name '*.in' -exec touch '{}' \;
	touch $@

install: windows-install-stamp
windows-install-stamp: windows-build-stamp
	$(win_testdir)
	$(win_testver)
	rm -rf windows/tmp
	mkdir windows/tmp
	cd windows/build && $(MAKE) DESTDIR=$(CURDIR)/windows/tmp install
	cp windows/copyright windows/tmp/$(ZIPNAME)/COPYING.txt
	cp windows/GPL.txt windows/tmp/$(ZIPNAME)/GPL.txt
	cd windows/tmp/$(ZIPNAME) && \
		txts="`find . -name '*.txt' -print`" && \
		for f in $$txts; do \
			perl -p -e 's/\012/\015\012/g;' < "$$f" > "$$f.new" && \
			mv "$$f.new" "$$f"; \
		done
	touch $@

clean:
	$(win_testdir)
	rm -f windows-install-stamp
	rm -rf windows/tmp
	rm -f windows-build-stamp windows-configure-stamp
	rm -rf windows/build
	rm -f windows-timestamps-stamp

binary: install
	$(win_testdir)
	$(win_testver)
	rm -f ../$(ZIPNAME).zip
	cd windows/tmp && zip -r ../../../$(ZIPNAME).zip $(ZIPNAME)

.PHONY: build configure timestamps install clean binary
