#! /usr/bin/make -f

# Debian packaging for C-Pluff
# Copyright 2007 Johannes Lehtinen
# This Makefile is free software; Johannes Lehtinen gives unlimited
# permission to copy, distribute and modify it.

build: debian-build-stamp
debian-build-stamp: debian-configure-stamp debian-timestamps-stamp
	dh_testdir
	cd debian/build && $(MAKE)
	touch $@

configure: debian-configure-stamp
debian-configure-stamp: debian-timestamps-stamp
	dh_testdir
	rm -rf debian/build
	mkdir debian/build
	cd debian/build && ../../configure --prefix=/usr
	touch $@

timestamps: debian-timestamps-stamp
debian-timestamps-stamp:
	dh_testdir
	touch aclocal.m4
	touch configure
	find . -name '*.in' -exec touch '{}' \;
	touch $@

install: debian-install-stamp
debian-install-stamp: debian-build-stamp
	dh_testdir
	dh_testroot
	rm -rf debian/tmp
	mkdir debian/tmp
	cd debian/build && $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install
	cp COPYRIGHT.txt debian/copyright
	touch $@

clean:
	dh_testdir
	dh_clean -k
	rm -f debian/copyright
	rm -f debian-install-stamp
	rm -rf debian/tmp
	rm -f debian-build-stamp debian-configure-stamp
	rm -rf debian/build
	rm -f debian-timestamps-stamp

binary-indep:

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs -a ChangeLog
	dh_installdocs -a
	dh_install -a --sourcedir=debian/tmp
	dh_makeshlibs -a
	dh_installdeb -a
	dh_compress -a
	dh_fixperms -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_builddeb -a

binary: binary-indep binary-arch

.PHONY: build configure timestamps install clean binary binary-arch binary-indep
