Source: cpluff-mingw
Section: devel
Priority: optional
Maintainer: Johannes Lehtinen <johannes.lehtinen@iki.fi>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 4.2.32), expat-mingw, libltdl-mingw,
 gettext-runtime-mingw

Package: cpluff-mingw
Section: devel
Architecture: all
Depends: expat-mingw, libltdl-mingw, gettext-runtime-mingw
Description: C-Pluff, a plug-in framework for C - MinGW cross-compilation
 This package contains the C-Pluff cross-compiled using MinGW. It can be
 used to cross-compile programs depending on C-Pluff. It also provides
 runtime binaries that can be installed to the host platform.
