Source: cpluff
Section: devel
Priority: optional
Maintainer: Johannes Lehtinen <johannes.lehtinen@iki.fi>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 4.2.32), libexpat1-dev

Package: libcpluff0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: C-Pluff, a plug-in framework for C - runtime library
 C-Pluff is a plug-in framework for C programs. It has been strongly
 inspired by the Java plug-in framework in Eclipse. C-Pluff focuses on
 providing core services for plug-in interaction and plug-in management.
 It aims to be platform neutral and supports dynamic changes to plug-in
 configuration without stopping the whole application or framework.
 .
 This package contains the C-Pluff runtime library.

Package: cpluff-loader
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Description: C-Pluff, a plug-in framework for C - development kit
 C-Pluff is a plug-in framework for C programs. It has been strongly
 inspired by the Java plug-in framework in Eclipse. C-Pluff focuses on
 providing core services for plug-in interaction and plug-in management.
 It aims to be platform neutral and supports dynamic changes to plug-in
 configuration without stopping the whole application or framework.
 .
 This package contains the C-Pluff loader, a generic plug-in loader
 to be used with extensible applications based on C-Pluff.

Package: libcpluff0-dev
Section: libdevel
Architecture: any
Depends: libcpluff0 (= ${Source-Version}), cpluff-loader
Provides: libcpluff-dev
Conflicts: libcpluff-dev
Description: C-Pluff, a plug-in framework for C - development kit
 C-Pluff is a plug-in framework for C programs. It has been strongly
 inspired by the Java plug-in framework in Eclipse. C-Pluff focuses on
 providing core services for plug-in interaction and plug-in management.
 It aims to be platform neutral and supports dynamic changes to plug-in
 configuration without stopping the whole application or framework.
 .
 This package contains the C-Pluff header files, development libraries
 and development documentation. It is needed to develop C-Pluff based
 applications.
